.vscode
./AEstudosTestes/*.exe
./Boca/**/*.exe
./Codeforces/**/*.exe
./cubica/**/*.exe
./CSES/**/*.exe
./cursodegrafosneps/**/*.exe
./exemplosdecodigos/**/*.exe
./exemplosdecodigos/*.exe
./maratona2fase/*.exe
./maratona2fase/*.zip
./MaratonaUFPI2021/**/*.exe
./Neps/**/*.exe
./PratiqueOBI/**/**/*.exe
./PratiqueOBI/*.exe
./questoes-soltas/*.exe
./URI/**/*.exe
./URI/*.exe